body {
    background-color: rgb(255, 255, 244);
}

/*HEADER AND NAV CSS*/

.main-title {
    text-align: center;
    font-size: 80px; 
    color: rgb(0, 49, 49);
    font-family: "Times New Roman", Times, serif;
    margin: 20px
}
.main-nav {
    width: 100%;
    background-color: lightgrey;
    font-size: 40px;
    border-bottom: 5px solid rgb(0, 49, 49);
    border-top: 5px solid rgb(0, 49, 49);
    margin: 20px 0px 70px 0px;
    padding: 10px 0;
    overflow: hidden;
    
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 40px 0px 0px;
    text-align: right;
    
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
    
}

.main-nav li a {
    display: block;
    color: rgb(0, 73, 73);
    text-decoration: none;
    background-color: lightgrey;
    font-family: "Arial, Helvetica, sans-serif";
    padding: 10px 30px;
}

.main-nav li a:hover {
    color: white;
    background-color: grey;
}

/* MAIN CSS */

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}



.date {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color: rgb(48, 48, 48);
}

.title {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    color: rgb(0, 95, 95);

}

.blog-articles{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.left-column {
    grid-column: 1;
    text-align: right;
    font-size: 25px;
    font-family: "Arial, Helvetica, sans-serif";
}

.middle-column {
    grid-column: 2;
    border-right: 2px solid rgb(179, 179, 179);
    border-left: 2px solid rgb(179, 179, 179);
    padding: 0px 10px 0px 10px;
    font-size: 30px;
    font-family: "Arial, Helvetica, sans-serif";
}

.read-more {
    background: none;
    border: none;
    color: rgb(0, 95, 95);
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: 30px;
    font-family: "Arial, Helvetica, sans-serif";
}
.filter-column {
    grid-column: 3;
    border: 3px solid rgb(48, 48, 48);
}